<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Chnage Password</h1>
        
        
        <form action="" method="POST">
            {% csrf_token %}
            <input type="password" name="new_password" placeholder="Enter The NeW Password">
            <input type="password" name="new_password1" placeholder="Enter The Same Password">
            <input id="btn" type="submit" value="Change Password">
        </form>
    </body>
</html>



<style>
    #btn{
        padding: 1em;
        border: none;
        border-radius: 3px;
        background-color: rgb(12, 171, 18);
        color: white;
    }
</style>